.navbar{
	margin-bottom: 0;
}

/* Background images */

section{
	position:relative;
}

#section1{
	height:100vh;
}

#section2{
	background-image:url(../images/moon_wallpaper.jpg);
	background-size:cover;
	width:100%;
	height:100vh;
	background-attachment: fixed;
}

#section3{
	background-image: url(../images/black_wallpaper.jpg);
	background-size: cover;
	width:100%;
	height:1100px;
	background-attachment: fixed;
}

#section4{
	background-image:url(../images/cheetah.jpg);
	background-size:cover;
	background-attachment: fixed;
	width:100%;
	height:100vh;
}


#section5{
	background-image:url(../images/lightgreen.jpeg);
	background-attachment: fixed;
	background-size: cover;
	width:100%;
	height:750px;
}
#section6{
	background-image:url(../images/planet_earth.jpg);
	background-attachment: fixed;
	background:cover;
	width:100vw;
	height:100vh;
}

#section7{
	background-image:url(../images/sanfrancisco.jpg);
	background-size:cover;
	background-attachment: fixed;
	width:100%;
	height:100vh;
}

/* Background images */


/* Contact Form */

.contact_form_background{
	background-image:url(../images/contact_form_background.png);
	height:1000px;
}

.form_position{
	margin-top:5%;
}

/* Contact Form */




/* SECTION 1 */

.cool_cat-wrapper{
	position:relative;
	height:80%;
	width:100%;
}

.cool_cat{
	width:100%;
	height:100%;
}

.firstname{
	position:absolute;
	top:35%;
	left:34%;
	font-family: 'Permanent Marker', cursive;
	color:white;
	font-size: 40px;
	cursor: pointer;
}
.lastname{
	position:absolute;
	top:35%;
	left:67%;
	font-family: 'Permanent Marker', cursive;
	color:white;
	font-size: 40px;
	cursor: pointer;
}

.cat_hire{
	display:none;
	border:2px solid black; 
	padding:5px 15px;
	padding-bottom: 10px;
	position:absolute;
	top:15%;
	left:4%;
	font-family: 'Permanent Marker', cursive;
	cursor: pointer;
}
.cat_hire h3{
	font-size: 40px;	
}

/* SECTION 1 */




/* SECTION 2 */

.description{
	font-size: 20px;
	color:rgb(253, 253, 190);
	 -webkit-animation-delay: .75s;
}

/* SECTION 2 */





/* SECTION 3 */
.resume{
	width:100%;
	height:100%;
}

.headers{
	margin-left: 3%;
}

.list{
	margin-left: 5%;
}

.list ul{
	display:inline-block;
	font-size: 25px;
}

.resume_text{
	font-size: 25px;
	margin-top: 3%;
	margin-left: 5%;
}

.resume_text p{
	margin-top: 3%;
}

.knowledge{
	position:relative;
	margin-top: 4%;
}

.text{
	color:white;
	font-family: 'Ubuntu', sans-serif;
	margin-top: 2%;	
}

/*.lz_background{
	background:white;
	padding:10px 15px;
	display:inline-block;
}

.learningfuze{
	width:300px;
	height:50px;
}*/

.javascript{
	height:200px;
	position: absolute;
	top:40vh;
	left:0%;
	
}

.jQuery{
	height: 175px;
	width:166px;
  	position: absolute;
  	top: 74vh;
  	left: 7%;
	}

.css{
	height:200px;
	width:172px;
	position: absolute;
	top:16vh;
	left:54%;
}
.html{
	height: 200px;
	width:237px;
	position:absolute;
	top:0;
	left:0;
}

.bootstrap_logo{
	height: 185px;
  	width: 200px;
  	position: absolute;
  	top: 55vh;
  	left: 51%;
}

.php{
	height:182px;
	width:225px;
	position:absolute;
	top:88vh;
	left:47%;
}

.ajax{
	position:absolute;
	top:111vh;
	left:14%;
}

/* SECTION 3 */




/* SECTION 4 */

.quote{
	height:882px;
	width:100%;
}

.cheetah{
	width:100%;
	height:100%;
}


.quote_text{
	position:absolute;
	top:3%;
	left:2%;
	font-family: 'Roboto', sans-serif;
	 -webkit-animation-delay: 1.4s;
}

.quote_text h3 {
	font-size: 35px;
}

.picture{
	margin-bottom: 3%;
}

/* SECTION 4 */




/* SECTION 5 */


.text2{
	width:100%;
	height:100%;
}


.more_info_text{
	position:absolute;
	top:0;
	left:0;
	font-size: 25px;
	color:black;
	height:1000px;
}

.resume_contents{
	padding:15px;
	position: relative;
	top: 12vh;
	border:5px solid white;
	border-radius: 10px;
	width:80%;
	margin: 0 auto;
}

.fa-github-square:before{
	color:rgb(51, 51, 51);
}

.info_github{
	color:green;
}

/* SECTION 5 */





/* SECTION 6 */

.final{
	min-height: 90vh;
}

.last_quote{
	width:100%;
	height:700px;
}

.markTwain{
	color:white;
	position:absolute;
	height:100%;
	width:100%;
	top: 0;
	left:0;
}

.mkquote{
	position: relative;
  	top: 30%;
  	transform: translateY(-50%);
  	text-align: center;
}

.work{
	display:inline-block;
}

.work h4{
	float:right;
}

.markTwain h3, .markTwain h4{
	font-size: 3em;
}

/* SECTION 6 */






/*	SECTION 7 */

footer{
	position:relative;
}

.footer-img{
	position: absolute;
	top:0;
	left: 0;
	width:100%;
}

/*   Business LINKS  */

.github{
	font-size: 1.25em;
	display:inline-block;
	margin-right: 25px;
	color:rgb(51, 51, 51);
}

.linkedIn{
	font-size: 1.25em;
	display:inline-block;
	margin-right: 25px;
	color:rgb(51, 51, 51);
}


.envelope{
	font-size: 1.25em;
	display:inline-block;
	margin-right: 10px;
	color:rgb(51, 51, 51);
}

.google{
	font-size: 1.25em;
	display:inline-block;
	color:rgb(51, 51, 51);
}

.square-box_holder{
	margin-top:2%;
	display:inline-block;
	float:right;
}



.fa-github-square:hover{
	padding: 15px 20px;
	background:lavender	;
}
.fa-linkedin-square:hover{
	padding: 15px 20px;
	background:lavender	;
}
.fa-envelope:hover{
	padding: 15px 20px;
	background:lavender	;
}
.fa-google-plus-square:hover{
	padding: 5px 20px;
	background:lavender	;
}





/*   Business LINKS  */

.hire{
	margin-top:5%;
	margin-left: auto;
	margin-right: auto;
	border-radius:2px;
	width:300px;
	padding:10px;
	color:white;
	border:none;
	background:red;
	display:block;
	font-size: 20px;
}

/*	 /*	SECTION 7 */  







