a{
	text-decoration: none;
}

.navbar{
	margin-bottom: 0;
}




/* Background images */

section{
	position:relative;
}

#section2{
	background-image:url(../images/moon_wallpaper.jpg);
	background-size:cover;
	width:100%;
	height:100vh;
	background-attachment: fixed;
}

#section3{
	background-image: url(../images/black_wallpaper.jpg);
	background-size: cover;
	width:100vw;
	height:100vh;
	background-attachment: fixed;
}

#section4{
	background-image:url(../images/cheetah.jpg);
	background-size:cover;
	background-attachment: fixed;
	width:100%;
	height:100%;
}


#section5{
	background-image:url(../images/green_background.jpg);
	background-attachment: fixed;
	background-size: cover;
	width:100%;
}
#section6{
	background-image:url(../images/planet_earth.jpg);
	background-attachment: fixed;
	background:cover;
	width:100vw;
	height:100vh;
}

#section7{
	background-image:url(../images/sanfrancisco.jpg);
	background-size:cover;
	background-attachment: fixed;
	width:100%;
	height:100vh;
	min-height: 50vh;
}

/* Background images */




/* cool cat */

.cool_cat-wrapper{
	position:relative;
	height:80%;
	width:100%;
}

.cool_cat{
	width:100%;
	height:94%;
}

.firstname{
	position:absolute;
	top:35%;
	left:34%;
	font-family: 'Permanent Marker', cursive;
	color:white;
	font-size: 40px;
	cursor: pointer;
}
.lastname{
	position:absolute;
	top:35%;
	left:67%;
	font-family: 'Permanent Marker', cursive;
	color:white;
	font-size: 40px;
	cursor: pointer;
}

.cat_hire{
	display:none;
	border:2px solid black;
	padding:5px 15px;
	padding-bottom: 10px;
	position:absolute;
	top:15%;
	left:4%;
	font-family: 'Permanent Marker', cursive;
	cursor: pointer;
}
.cat_hire h3{
	font-size: 40px;	
}

/* cool cat */





/* Resume Section */
.resume{
	width:100%;
	height:100vh;
	display: table;
}

.headers{
	margin-left: 3%;
}

.list{
	margin-left: 5%;
}

.list ul{
	display:inline-block;
	font-size: 25px;
}

.resume_text{
	font-size: 25px;
	margin-top: 6%;
	margin-left: 5%;
}

.resume_text p{
	margin-top: 3%;
}


.description{
	position:absolute;
	top:0;
	left:0;
	font-size: 20px;
	color:white;
}

.knowledge{
	display: table-cell;
	position:absolute;
	top:10%;
	right: 0;
	width:40%;
	height:100%;
}

.text{
	display: table-cell;
	width:60%;
	height: 100%;
	position:absolute;
	top:0;
	left:0;
	color:white;
	font-family: 'Ubuntu', sans-serif;	
}

.gray{
	height:100%;	
	width:100%;
}

.lz_background{
	background:white;
	padding:10px 15px;
	display:inline-block;
}
.learningfuze{
	width:300px;
	height:50px;
}

.javascript{
	height:200px;
	margin-left: 15%;
	margin-top: 5%;
}

.jQuery{
	height:175px;
	margin-top: 5%;
}

.css{
	height:200px;
	width:172px;
}
.html{
	height: 200px;
	width:237px;
	margin-left:17%;
}

.bootstrap_logo{
	height:185px;
	width:200px;
	margin-left: 4%;
	margin-top: 5%;
}

.php{
	height:182px;
	width:244px;
	margin-left: 11%;
	margin-top: 5%;
}

.ajax{
	margin-left: 20%;
	margin-top: 5%;
}

/* Resume Section */




/* Quote Section */

.quote{
	height:882px;
}

.cheetah{
	width:100%;
	height:100%;
}


.quote_text{
	position:absolute;
	top:3%;
	left:2%;
	font-family: 'Roboto', sans-serif;
}

.quote_text h3 {
	font-size: 35px;
}



.picture{
	margin-bottom: 3%;
}

/* Quote Section */




/* More Info */

.more_info{
	width:100%;
	height:600px;
}

.text2{
	width:100%;
	height:100%;
}


.more_info_text{
	position:absolute;
	top:0;
	left:0;
	font-size: 25px;
	color:white;
}

.resume_contents{
	position: relative;
	top: 12vh;
	border:1px solid white;
	width:80%;
	margin: 0 auto;
}

.fa-github-square:before{
	color:rgb(51, 51, 51);
}

.info_github{
	color:green;
	position: absolute;
	bottom:0;
	right:0;
}

/* More Info */





/* Last Quote */

.final{
	min-height: 90vh;
}

.last_quote{
	width:100%;
	height:700px;
}

.markTwain{
	color:white;
	position:absolute;
	height:100%;
	width:100%;
	top: 0;
	left:0;
}

.mkquote{
	text-align: center;
	position: relative;
  	top: 30%;
  	transform: translateY(-50%);
}

.work{
	display:inline-block;
}

.work h4{
	float: right;
}

.markTwain h3, .markTwain h4{
	font-size: 3em;
}

/* Last Quote */






/*		Footer   */

footer{
	position:relative;
}

.footer-img{
	position: absolute;
	top:0;
	left: 0;
	width:100%;
}



/*   Business LINKS  */

.github{
	font-size: 1.25em;
	display:inline-block;
	margin-right: 25px;
	color:rgb(51, 51, 51);
}

.linkedIn{
	font-size: 1.25em;
	display:inline-block;
	margin-right: 25px;
	color:rgb(51, 51, 51);
}


.envelope{
	font-size: 1.25em;
	display:inline-block;
	margin-right: 10px;
	color:rgb(51, 51, 51);
}

.google{
	font-size: 1.25em;
	display:inline-block;
	color:rgb(51, 51, 51);
}

.square-box_holder{
	margin-top:2%;
	display:inline-block;
	float:right;
}

.hire{
	margin-top:5%;
	margin-left: auto;
	margin-right: auto;
	border-radius:2px;
	width:300px;
	padding:10px;
	color:white;
	border:none;
	background:red;
	display:block;
	font-size: 20px;
}

/*   Business LINKS  */

/*		Footer   */







